
#history-title{
    margin: 10px;
    margin-bottom: 30px;
    font-size: 19px;
}

.one-his{
    border: 1px solid rgb(233, 233, 233);
    border-radius:10px;
    margin: 5px;
    padding: 10px;
}


#history-box{
    position: absolute;
    top: 36%;
    right: 16px;
    width: 200px;
    height: 60%;
    padding : 5px;
    border: 3px solid rgb(238, 241, 241);
    background-color: rgb(248, 247, 244);
}

#history-scroll-box::-webkit-scrollbar {
    width: 10px;
}
#history-scroll-box::-webkit-scrollbar-thumb {
    background-color: #c4c4c4;
}
#history-scroll-box::-webkit-scrollbar-track {
    background-color: rgb(255, 255, 255);
}
#history-scroll-box{
    height:85%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}